.section {
  width: 100%;
  height: calc(100vh - 93px);
  padding: 10px;
  border: 1px solid lightblue;
  overflow: scroll;
}

.heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 22px;
  padding: 5px;
  border-right: 1px solid blue;
}

.status {
  font-family: "cascadia code", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 5px;
  width: 200px;
  overflow: hidden;
  border-left: 1px solid blue;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table {
  width: 100%;
}

.thead {
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

.thead th {
  padding: 5px;
}

.tbody {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tr:hover {
  background-color: lightblue;
}

.tr td {
  padding: 3px;
  border-bottom: 1px solid lightblue;
  border-left: 1px solid blue;
}

.section-title {
  text-align: center;
  font-size: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
